.feedback {
    max-width: 100%;
    padding: 1rem;
    color: white;
    background-color: rgba(37,34,34,.90);
}

.error {
    color: red;
}

.btnYellow {
    background-color: black;
    color: white;
    border: 1px solid yellow;
    padding: 5px;
}

.btnYellow:hover, .clicked {
    background-color: yellow;
    color: black;
}

.btnYellow:disabled,
.btnYellow[disabled]{
  border: 1px solid #999999;
  background-color: #ffff4d;
  color: black;
  cursor: not-allowed;
}