.mainContainer {
  background-color: rgba(37, 34, 34, 0.9);
  border-radius: 8px;
  color: #fff;
  max-width: 90%;
  margin: 30px auto 0;
}

.banner {
  background-color: #cccc00;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.profilePicture {
  height: 100px;
  background-color: black;
  width: 100px;
  border-radius: 50%;
}

.main {
  padding: 1rem 4rem 1rem 4rem;
}

.content {
  margin-top: 40px;
}
