* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background: rgb(7, 8, 0);
    background: radial-gradient(circle, rgba(7, 8, 0, 1) 37%, rgba(111, 119, 0, 1) 75%);
}

.clicked {
    background-color: 'yellow';
}