* {
  font-family: "Open Sans", sans-serif;
}

body {
  background: rgb(7, 8, 0);
  background: radial-gradient(
    circle,
    rgba(7, 8, 0, 1) 37%,
    rgba(111, 119, 0, 1) 75%
  );
}

.breath {
  margin-top: 2rem;
}

.clicked {
  background-color: "yellow";
}

.formContainer {
  background-color: rgba(37, 34, 34, 0.95);
  border-radius: 8px;
  color: #fff;
  max-width: 450px;
  min-height: 200px;
  padding: 30px;
  margin: 30px auto 0;
}

.error {
  color: red;
}

.error-message {
  background-color: black;
  color: red;
}

.default-message {
  background-color: black;
  color: white;
}

.yellow-message {
  color: yellow; 
  margin-top: 1rem;
}

.btnYellow {
  background-color: black;
  color: white;
  border: 1px solid yellow;
  padding: 5px;
}

.btnYellow:hover,
.clicked {
  background-color: yellow;
  color: black;
}

.btnYellow:disabled,
.btnYellow[disabled] {
  border: 1px solid #999999;
  background-color: #ffff4d;
  color: black;
  cursor: not-allowed;
}
